body{
	padding-top: 50px;
}

.sidebar{
	display: block;
	top: 50px;
	bottom: 0px;
	background-color: #F4F5F7;
}

.main{
	padding-top: 50px;
	padding-left: 20px;
	display: block;
	top: 0px;
	bottom: 0px;
}

h1{
	display: block;
}

.page-header{
	margin-top: 0px;
}